
.dicemain{
width: 1172px;
height: auto;
margin: 5%;
/* background-color: aqua; */
display: flex;
}
.dice{
    width: 85%;
    height: 522px;
    
}
.text{
        width: 649px;
        height: 522px;
}
.text h1{
    margin-top: 35%;
    margin-left: 40px;
    font-size: 89px;
    font-weight: 750;
}
.text button{
    background-color: black;
    /* width: 220px; */
    padding-left: 60px;
    padding-right: 60px;
    height: 44px;
    color: white;
    margin-top: -29%;
    margin-left: 65%;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}

@media (max-width:700px) {
    body{
        overflow-x: hidden;
    }
    .dicemain{
        width: 74%;
        height: auto;
        margin: 4%;
        /* background-color: aqua; */
display: block;        }
.dice{
    width: 100%;
    height: 50vh;
    margin: 13%;
    margin-top: 40%;
}
.text{
    width: 75%;
    height: 50vh;
    margin: 10%;

}
.text h1{
margin-top: -25%;
margin-left: 20px;

font-size: 28px;
font-weight: 800;
}
.text button{
background-color: black;
width:182px;
padding-left: 2px;
padding-right: 2px;
height: 44px;
color: white;
/* font-size: 3px; */
margin-top: -3%;
margin-left: 50%;
border-radius: 4px;
cursor: pointer;
}
}


